.header {
    
    
    &__background {
        background-image: linear-gradient(to bottom right, rgba(39,174,96,.4) 0%, rgba(68,213,129,0.4) 90%), url(/Content/background.jpg);
        background-position: center;
        background-size: cover;
        height:90vh;
    }

    &__logo {

        &--img{
            width: 15rem;
            height:auto;
        }
    }

}