.header {
    
    
    &__background {
        background-image: linear-gradient(to bottom right, rgba(78, 78, 78, 0.4) 0%, rgba(63, 66, 64, 0.4) 90%), url(/Content/background.jpg);
        background-position: center;
        background-size: cover;
        height:90vh;
    }

    &__logo {

        &--img{
            width: 15rem;
            height:auto;
        }
    }

}