/*Font*/
$default-font-size:1.6rem;

/*Colors*/
$color-primary: #27ae60 ;
$color-primary-light: #44d581;
$color-primary-dark: #1e8449;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-grey-dark:#777;
$color-grey-dark-2: rgb(92, 92, 92);
$color-grey-dark-3: rgb(31, 31, 31);

$color-white: #fff;
$color-black: rgb(0,0,0);