.btn {
    &, 
    &:link,
    &:visited {
        font-size: 1.8rem;
        letter-spacing: .4rem;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        cursor: pointer;
        padding:2rem;
        
    }

    &-primary {
        color:$color-grey-light-1;
        // border-radius: 4rem;
        // background-color: black;
        transition: all .5s;
        border-radius: 2px;
        border-bottom:3px solid $color-primary-light;

        &:hover{
            transform: translateY(-.5rem) scale(1.05);
            border-bottom: 5px solid white;
            margin-left: 2rem;
            margin-right: 2rem;
            transform: skewX(-10deg);
        }
    }
}