.u-center-text {text-align: center !important;}

.u-margin-bottom-lg {margin-bottom: 10rem;}
.u-margin-bottom-md {margin-bottom: 6rem;}
.u-margin-bottom-sm {margin-bottom: 4rem;}

.br-sm {border-radius: 5px;}

.pd-md{padding-top:6rem;}
.pd-lg {padding-top:10rem;}

.mg-top-huge {margin-top:17rem;}

.mg-btm-sm {margin-bottom: 3rem;}
.mg-btm-md {margin-bottom: 5rem;}
.mg-btm-lg {margin-bottom: 7rem;}
.mg-btm-hg {margin-bottom: 10rem;}